# password hash
HASH= 
ALGORITHM= 
ACCESS_TOKEN_EXPIRE_MINUTES= 
REFRESH_TOKEN_EXPIRE_MINUTES= 

# admin
admin_username=
admin_email=
admin_password=

admin_name=
admin_surname=

# database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# docs storage
storage_path=

#logs
logs_path=